*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0,0,0,0.5);

}
.logo{
    font-size: 30px;
    font-weight: bold;
}
nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}
.hero{
    text-align: center;
    margin-top: 150px;
}
.hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.hero p {
    font-size: 22px;
    margin-bottom: 30px;
}
.shop-button{
    background: darkkhaki;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}
.products{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.product-card{
    background: white;
    color: black;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.product-card img{
    width: 100%;
    border-radius: 10px;
}
.buy-button{
    display: inline-block;
    margin-top: 15px;
    background: darkblue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}